html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Cagesa
		link(rel="stylesheet",href="css/foundation.css")
		link(rel="stylesheet",href="css/normalize.css")
		link(rel="stylesheet",href="css/person.css")
		link(rel="css/app.css")
		link(rel="css/icons.css")
		link(rel="css/style.css")
		script(src="js/vendor/jquery-2.1.1.js")
		script(src="js/vendor/modernizr.js")
		script(src="js/jquery.stellar.js")

	body
		.mq-check
			.row
				.contain-to-grid.fixed.gris
					nav.top-bar(data-topbar)
						ul.title-area
							li.name
								.logoBlanco
							li.toggle-topbar.menu-icon
								a(href="#")
									span Menu

						section.top-bar-section
							ul.right
								li.divider
								li.active.quienes
									a(href="#") Quienes Somos
								li.divider
								li.serv
									a(href="#") Servicios
								li.divider
								li.client
									a(href="#") Clientes
								li.divider
								li.contact
									a(href="#") Contacto
								li.divider
			.row
				.orbit-container.slide
					ul.example-orbit(data-orbit data-options="animation_speed:200; pause_on_hover: false; next_on_click: true" )
						li
							img(src="img/alta/imagen (58).jpg" alt="")
							.orbit-caption
								span Cagesa 15 años, ofreciendo el mejor servicio.
						li
							img(src="img/alta/imagen (40).jpg" alt="")
							.orbit-caption
								span Cagesa 15 años, ofreciendo el mejor servicio.
						li
							img(src="img/alta/imagen (4).jpg" alt="")
							.orbit-caption
								span Cagesa 15 años, ofreciendo el mejor servicio.
						li
							img(src="img/alta/imagen (90).jpg" alt="")
							.orbit-caption
								span Cagesa 15 años, ofreciendo el mejor servicio.


			<!-- .small-12.columns -->
			.row
				br
				.somostext.small-12.medium-6.columns
					h4.somos QUIENES SOMOS
					p
						span.nombre Canarias de gestión y suministros para areas verdes S.L.
					p Somos una empresa perteneciente al
						span(id="tipGrupoCastillo" data-tooltip data-options="hover_delay: 50;" class="has-tip" title="Nace en diciembre del año 2000 al amparo de la empresa Elmasa Medio Ambiente, para dar respuesta a la necesidad de  servicio de jardinería turística y residencial privada.")  Grupo Castillo
						span . Nuestro ámbito de actuación es la jardinería, el sector medio ambiental y los servicios forestales.
					p CAGESA cuenta con la certificación
						span(id="tipAenor" data-tooltip data-options="hover_delay: 50;" class="has-tip" title="Norma UNE  EN  ISO 9001")  AENOR
						span . Además una de nuestras prioridades es la protección y cuidado del medio ambiente.
				.somosSlide.small-12.medium-6.columns.end
					a
						img(src="img/alta/imagen (83).jpg")
			br

			.small-12.servicios.bgstellar(data-stellar-background-ratio="0.8")
				.row
					.small-12.columns
						br
						h4.servicios
							a(data-reveal-id="myModal") SERVICIOS
							div(id="myModal" class="reveal-modal" data-reveal)
								hr
								p -Diseño, construcción y mantenimiento de espacios verdes en general.
								p -Proyectos de jardines, riegos, repoblaciones, reforestaciones
								p -Obras de jardinería, tratamiento de taludes, restauración y recuperación paisajística, tratamientos selvícolas.
								p -Mantenimientos de jardinería, hoteles y complejos hoteleros, jardines individuales, parque y espacios públicos.
								p -Análisis, estudios y diagnóstico de arbolado y palmeras
								p -Asesoramiento técnico, planes de gestión y estudios.
								p -Podas, talas, limpiezas y actuaciones de choque.
								p -Trasplantes en general.
								p -Instalación de sistemas de riego, equipos de riego y fertirrigación.
								hr
								a(class="close-reveal-modal") &#215;

						ul.small-block-grid-1.medium-block-grid-3.pagination-centered
							li
								.mantenimiento
									.servicioCaption
										p Mantenimiento
								p  Ofrecemos servicios de poda de palmeras y árboles de gran porte, tratamientos fitosanitarios, instalaciones de riego, reparación de maquinaria,  tala de palmeras, recogida de residuos vegetales.
							li
								.asesor
									.servicioCaption
										p Asesoramiento Técnico
								p  Contamos con Técnicos, delineantes, administrativos, Oficiales Jardineros, mecánicos y podadores acreditados por el
									strong  Gobierno de Canarias
									span  para la poda, transplante y tratamiento de las palmeras
							li
								.instalaciones
									.servicioCaption
										p Instalaciones
								p  En nuestro vivero de  10000 m2,  2000 de ellos de invernaderos. Producimos las plantas que suministramos en nuestros servicios y obras. Contamos con un stock  de maquinaria, material de riego, productos fitosanitarios, abonos, turbas, sustratos y áridos para facilitar el suministro a nuestros clientes.
			.small-12.clientes.somos

				.row
					.small-12.columns
						hr

						h4.clientes
							span(id="tipClientes" data-tooltip aria-haspopup="true" class="has-tip" title="Prestamos servicios a las cadenas hoteleras más importantes, Sea Side (Grand Hotel Residencia 5*GL, Palm Beach 5*, Sandy Beach 4*) o Lopesan Hotels (Gran Hotel Lopesan Costa Meloneras, H. Lopesan Villa del Conde...") CLIENTES
						ul.small-block-grid-1.medium-block-grid-4
							li
								p A lo largo de tiempo se ha ido consolidando en una empresa líder en este sector de la jardinería.
							li
								a
									img(src="img/alta/imagen (83).jpg")
							li
								a
									img(src="img/alta/imagen (81).jpg")
							li
								a
									img(src="img/alta/imagen (12).jpg")

			.row.contacto
				.small-12
					hr
					h4.contacto CONTACTO
					form.contacto
						input(type="text" placeholder="Nombre")
						input(id="particular" type="radio" name="particular" value="particular")
						label(for="particular") Particular
						input(type="text" placeholder="Nombre")
						input(type="text" placeholder="Nombre")
						input(type="text" placeholder="Nombre")
						input(type="text" placeholder="Nombre")
						input(type="text" placeholder="Nombre")




			.row
				.footer-section
					.row
						.small-12.columns
							p.text-center Copryrigth 2014

		script(src="js/foundation/foundation.js")
		script(src="js/foundation/foundation.topbar.js")
		script(src="js/foundation/foundation.tooltip.js")
		script(src="js/foundation/foundation.reveal.js")
		script(src="js/foundation/foundation.orbit.js")
		script(src="js/user.js")
		script $(document).foundation() ;
