@charset "UTF-8";
@import 'sliderVariables';

//Caption Style
#sliderc_container {
  .captionColor {
    display: block;
    font-size: $caption_font_size;
    line-height: $caption_line_height;
    text-align: center;
    border-radius: $caption_border_radius;
  }
  .captionOrange {
    background: rgba(235, 81, 0, 6/10);
  }
  .captionBlue {
    background: rgba(21, 21, 120, 6/10);
  }
  .captionBlack {
    background: rgba(0, 0, 0, 4/10);
  }
  .captionSymbol {
    border-radius: $caption_symbol_border_radius !important;
    font-weight: $caption_symbol_font_weight !important;
    font-size: $caption_symbol_font_size !important;
    background: $caption_symbol_background;
  }
  .captionText {
    display: block;
    font-size: $caption_font_size;
    line-height: $caption_line_height;
  }
  .captionTextBlack {
    color: $black;
  }
  .captionTextWhite {
    color: $white;
  }
  a {
    .captionOrange {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #eb5100;
        text-decoration: underline;
        background-color: #eeeeee;
        background-color: rgba(238, 238, 238, 7/10);
      }
      &:active {
        color: #fff;
        text-decoration: none;
      }
      &:visited {
        color: #fff;
        text-decoration: none;
      }
    }
    .captionTextWhite {
      color: #fff;
      text-decoration: none;
      &:active {
        color: #fff;
        text-decoration: none;
      }
      &:visited {
        color: #fff;
        text-decoration: none;
      }
      &:hover {
        color: #eb5100;
        text-decoration: underline;
      }
    }
    .captionTextBlack {
      color: #fff;
      text-decoration: none;
      &:active {
        color: #fff;
        text-decoration: none;
      }
      &:visited {
        color: #fff;
        text-decoration: none;
      }
      &:hover {
        color: #eb5100;
        text-decoration: underline;
      }
    }
  }
  .bricon {
    background: url('../img/browser-icons.png');
  }
  //Bullet
  .jssorb01 {
    position: relative;
    top: $navigation_posY;
    left: $navigation_posX;
    background: $navigation_background;
    padding: $navigation_padding;
    border-radius: $navigation_border_radius;
    .prototype {
      border-radius: $navigation_bullet_border_radius;
      box-shadow: $navigation_bullet_box_shadow;
      POSITION: absolute;
      WIDTH: $navigation_bullet_size;
      HEIGHT: $navigation_bullet_size;
      margin: $navigation_bullet_margin;
    }
    div {
      filter: alpha(opacity=$navigation_bullet_opacity*100);
      opacity: $navigation_bullet_opacity;
      cursor: pointer;
      border: $navigation_bullet_border;
      background: $navigation_bullet_background;
      overflow: hidden;
      &:hover {
        background-color: $navigation_bullet_color_hover;
      }
    }
    .av {
      background-color: $yellow;
      &:hover {
        background-color: $navigation_bullet_color_active;
      }
    }
    .dn {
      background-color: #fff;
      &:hover {
        background-color: $navigation_bullet_color_click;
      }
    }
  }
}

.slider_block {
  display: block;
  float: none;
  margin: $margin_auto;
  width: $width_slider_outside_block;
  text-align: center;
  background-image: url($background_image_slider_outside_block);
  border-top: $border_slider_outside_block;
  border-bottom: $border_slider_outside_block;
  font-family: $font_family_slider_default;
  border-radius: $border_radius_slider_outside_block;
  overflow: hidden;
  #sliderc_container {
    position: relative;
    margin: $margin_auto;
    @include put_dimension($default_width_slider_outside, $default_height_slider_outside);
    text-align: left;
    overflow: hidden;
    .slides {
      position: absolute;
      @include put_position(0, 0);
      overflow: hidden;
    }
    .outside {
      cursor: $default_pointer_cursor_outside;
      @include put_dimension($default_width_slider_outside, $default_height_slider_outside);
    }
    #slider1_container {
      position: absolute;
      @include put_position_dimension(0px, 90px, $default_width_slider_inside, $default_height_slider_inside);
      border: $border_slider_inside_block;
      border-radius: $border_radius_slider_inside_block;
      margin: $margin_slider_inside_block;
      overflow: hidden;
      .spinner {
        @extend .slides;
        & > div {
          display: block;
          @extend .slides;
          filter: alpha(opacity=$spinner_opacity*100);
          opacity: $spinner_opacity;
          background-color: $spinner_background_color;
          @include put_dimension(100%, 100%);
        }
        & > div + div {
          display: block;
          @extend .slides;
          background: url($spinner_imagen) no-repeat center center;
          @include put_dimension(100%, 100%);
        }
      }
      .inside {
        @extend .slides;
        cursor: $default_pointer_cursor_inside;
        @include put_dimension($default_width_slider_inside, $default_height_slider_inside);
        .caption {
          position: absolute;
          @include put_position_dimension(20px, $caption_line_height, 300px, $caption_line_height);
        }
      }
    }
    .slider_header_title_1 {
      position: absolute;
      @include put_title_header($header_title_left,$header_title_top,$header_title_width,$header_title_height,
              $header_title_font_size,$header_title_color,$header_title_text_shadow,center,$header_title_1);
    }
    .slider_team_group_1{
      position: absolute;
      @include put_position_dimension($block_team_1_left,$block_team_1_top,$block_team_1_width,$block_team_1_height);
      & div:nth-of-type(1){
        position: absolute;
        @include put_position_dimension($block_team_1_char_symbol_1_left,$block_team_1_char_symbol_1_top,
                $block_team_1_char_symbol_1_width,$block_team_1_char_symbol_1_height);
        @include put_symbol($block_team_1_char_symbol_1,$block_team_1_char_symbol_1_color,$block_team_1_char_symbol_1_shadow);
      }
      & div:nth-of-type(2){
        position: absolute;
        @include put_position_dimension($block_team_1_text_1_left,$block_team_1_text_1_top,
                $block_team_1_text_1_width,$block_team_1_text_1_height);
        @include put_text($block_team_1_text_1,$block_team_1_text_1_color,$block_team_1_text_1_shadow);
      }
      & div:nth-of-type(3){
        position: absolute;
        @include put_position_dimension($block_team_1_char_symbol_2_left,$block_team_1_char_symbol_2_top,
                $block_team_1_char_symbol_2_width,$block_team_1_char_symbol_2_height);
        @include put_symbol($block_team_1_char_symbol_2,$block_team_1_char_symbol_2_color,$block_team_1_char_symbol_2_shadow);
      }
      & div:nth-of-type(4){
        position: absolute;
        @include put_position_dimension($block_team_1_text_2_left,$block_team_1_text_2_top,
                $block_team_1_text_2_width,$block_team_1_text_2_height);
        @include put_text($block_team_1_text_2,$block_team_1_text_2_color,$block_team_1_text_2_shadow);
      }
      & div:nth-of-type(5){
        position: absolute;
        @include put_position_dimension($block_team_1_char_symbol_3_left,$block_team_1_char_symbol_3_top,
                $block_team_1_char_symbol_3_width,$block_team_1_char_symbol_3_height);
        @include put_symbol($block_team_1_char_symbol_3,$block_team_1_char_symbol_3_color,$block_team_1_char_symbol_3_shadow);
      }
      & div:nth-of-type(6){
        position: absolute;
        @include put_position_dimension($block_team_1_text_3_left,$block_team_1_text_3_top,
                $block_team_1_text_3_width,$block_team_1_text_3_height);
        @include put_text($block_team_1_text_3,$block_team_1_text_3_color,$block_team_1_text_3_shadow);
      }
      & div:nth-of-type(7){
        position: absolute;
        @include put_position_dimension($block_team_1_char_symbol_4_left,$block_team_1_char_symbol_4_top,
                $block_team_1_char_symbol_4_width,$block_team_1_char_symbol_4_height);
        @include put_symbol($block_team_1_char_symbol_4,$block_team_1_char_symbol_4_color,$block_team_1_char_symbol_4_shadow);
      }
      & div:nth-of-type(8){
        position: absolute;
        @include put_position_dimension($block_team_1_text_4_left,$block_team_1_text_4_top,
                $block_team_1_text_4_width,$block_team_1_text_4_height);
        @include put_text($block_team_1_text_4,$block_team_1_text_4_color,$block_team_1_text_4_shadow);
      }
      & div:nth-of-type(9){
        position: absolute;
        @include put_position_dimension($block_team_1_char_symbol_5_left,$block_team_1_char_symbol_5_top,
                $block_team_1_char_symbol_5_width,$block_team_1_char_symbol_5_height);
        @include put_symbol($block_team_1_char_symbol_5,$block_team_1_char_symbol_5_color,$block_team_1_char_symbol_5_shadow);
      }
      & div:nth-of-type(10){
        position: absolute;
        @include put_position_dimension($block_team_1_text_5_left,$block_team_1_text_5_top,
                $block_team_1_text_5_width,$block_team_1_text_5_height);
        @include put_text($block_team_1_text_5,$block_team_1_text_5_color,$block_team_1_text_5_shadow);
      }
    }

  }
}
