//CAPTION
@mixin put_class($datos) {
  font-family: map-get($datos, fontFamily);
  font-size: map-get($datos, fontSize);
  color: map-get($datos, color);
  text-shadow: map-get($datos, textShadow);
  background-color: map-get($datos, backGroundColor);
}

//POSITION AND SIZE
@mixin put_position_dimension($position, $top, $left, $width, $height) {
  @include put_position($position, $top, $left);
  @include put_dimension($width, $height);
}

//POSITION
@mixin put_position($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

//SIZE
@mixin put_dimension($width, $height) {
  width: $width;
  height: $height;
}

//PUT CAPTION
@mixin put_caption($datos) {
  @include put_position_dimension(
          map-get($datos, position),
          map-get($datos, top),
          map-get($datos, left),
          map-get($datos, width),
          map-get($datos, height)
  );
  @if str-length(#{map-get($datos, class)})>0 {
    @extend .#{#{map-get($datos, class)}};
  }
  @if map-has-key($datos,imageUrl){
    background-image:url(map-get($datos,imageUrl));
  }
  background-position:map-get($datos, imagePosition);
  background-repeat:map-get($datos,imageRepeat);
  background-size: map-get($datos,imageSize);
  border-radius:map-get($datos, borderRadius);
  text-shadow: map-get($datos, textShadow);
  color: map-get($datos, textColor);
  box-shadow: map-get($datos, boxShadow);
  font-family: map-get($datos, fontFamily);
  font-size: map-get($datos, fontSize);
  font-style: map-get($datos, fontStyle);
  text-align: map-get($datos, textAlign);
  padding: map-get($datos, textPadding);
  height: map-get($datos, height);
  line-height: map-get($datos, lineHeight);
  transition:transform 1s lineal;
  &:after {
    content: map-get($datos, content);
   }
  &:hover{
  transform: scale(1.1);
  }
}
@mixin put_image($datos){
  background-image:url(map-get($datos,imageUrl));
  background-repeat:map-get($datos,imageRepeat);
  background-position:map-get($datos,imagePosition);
  background-size: map-get($datos,imageSize);
}
