////////////////////////////////////////////////////////////////////////////////
// GLOBAL VARIABLES //SLIDER
////////////////////////////////////////////////////////////////////////////////
@import 'mixin';
//ROOT FOR MODULE
$urlRootSlider:'../slider';
$sliderName: 'sliderContainer';

//CURSOR
$cursorDefault: (
        pointer : pointer,
        default: default
);
//BORDER
$borderWidthDefault: (
        small:1px,
        medium:4px,
        large:8px
);
$marginDefault: (
        none : 0px,
        small: 1px,
        medium: 5px,
        large: 10px
);
//FONTS
$fontNameDefault: (
        titulo: titulo,
        orange: orange
);
//FONT SIZE
$fontSizeDefault: (
        small:14px,
        medium:16px,
        large:20px,
        x-large:24px,
        extra:28px,
        super:44px
);
//RADIUS
$radiusDefault: (
        small:1px,
        normal:5px,
        large:10px,
        extra:20px,
        circle: 50%
);

// TRANSPARENCY LEVEL
$transparencyLevel: (
        level_0: 0,
        level_1: .1,
        level_2: .2,
        level_3: .3,
        level_4: .4,
        level_5: .5,
        level_6: .6,
        level_7: .7,
        level_8: .8,
        level_9: .9,
        level_10: 1
);
//USER COLOR
$colorDefault: (
        blue: rgb(0, 0, 120),
        greenMedium:rgb(0, 180, 0),
        red: rgb(120, 0, 0),
        white:rgb(255, 255, 255),
        black:rgb(0, 0, 0),
        orange:rgb(235, 81, 0)
);
//BACKGROUND
$backGroundColorDefault: (
        orange:rgba(map-get($colorDefault, orange), map-get($transparencyLevel, level_6)),
        grayLight:rgba(map-get($colorDefault, black), map-get($transparencyLevel, level_4))
);
//SHADOW COLOR
$shadowDefaultColor: (
        black_10: rgba(map-get($colorDefault, black), map-get($transparencyLevel, level_10)),
        black_5: rgba(map-get($colorDefault, black), map-get($transparencyLevel, level_5)),
        black_3:rgba(map-get($colorDefault, black), map-get($transparencyLevel, level_3)),
        white_10:rgba(map-get($colorDefault, white), map-get($transparencyLevel, level_10)),
        white_5:rgba(map-get($colorDefault, white), map-get($transparencyLevel, level_5))
);
//SHADOW
$boxShadowDefault: (
        bullet:0 0 6px map-get($shadowDefaultColor, white_10),
        slider: 0 0 6px map-get($shadowDefaultColor, black_5),
        bottomBlack: 0px 4px 4px map-get($shadowDefaultColor, black_3),
        bottomRightBlack: 4px 4px 4px map-get($shadowDefaultColor, black_3)
);
$textShadowDefault: (
        white_5: 1px 1px map-get($shadowDefaultColor, white_5),
        black_5: 1px 1px map-get($shadowDefaultColor, black_5),
        black_3: 1px 1px map-get($shadowDefaultColor, black_3)
);


//MEDIA SCREEN
$mediaScreen: (
        small:480px,
        medium:600px,
        large:967px
);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SLIDER
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Parametros:
//-------------------------------------------
// float:
// margin:
// position:
// width:
// height:
// borderRadius:
// boxShadow:
// border:
// border-top:
// border-right:
// border-bottom:
// border-left:
//
$sliderBox: (
        putInit:(
                boxSizing: border-box,
                visibility: hidden,
                position: relative,
                float: none,
                overFlow:hidden
        ),
        putSize:(
                width: 800px,
                height: 450px
        ),
        putPosition:(
        ),
        margin:map-get($marginDefault,none) auto,
        borderTop: 3px solid map-get($shadowDefaultColor, black),
        borderBottom: 3px solid map-get($shadowDefaultColor, black),
);
$sliders: (
        putInit:(
                box-sizing: border-box,

                position: absolute,
                overFlow:hidden
        ),
        putSize:(
                width: map-get(map-get($sliderBox,putSize),width),
                height:  map-get(map-get($sliderBox,putSize),height)
        ),
        putPosition:(
                top:0,
                left:0
        ),
        cursor: map-get($cursorDefault, default)
);
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// CAPTIONS (CLASS)
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Parametros:
//-------------------------------------------
// class -> Obligatorio
// height:
// lineHeight:
// fontFamily:
// fontSize:
// color:
// backGroundColor:
// borderRadius:
// textAlign:
// textShadow:
//



$caption: (//Default property for captions
        putInit:(
        ),
        putSize:(
                height : 30px
        ),
        putPosition:(
        ),
        lineHeight:30px,
        textAlign : center,
        borderRadius :map-get($radiusDefault, normal)
);

$captionBlack: (
        class:'captionBlack',
        putInit:(
        ),
        putSize:(
        ),
        putPosition:(
        ),
        fontFamily:map-get($fontNameDefault, titulo),
        fontSize: map-get($fontSizeDefault,super),
        color: map-get($colorDefault, white),
        backGroundColor: map-get($backGroundColorDefault, grayLight)
);
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// CAPTION CLASS LIST
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$listClass: (
        captionBlack:$captionBlack
);
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SPINNER
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Parametros Imagen
// ------------------------------------------------------------
// imageUrl:
// imageRepeat:
// imagePosition:
// imageSize:
$spinner: (
        putInit:(
                display:block,
                position:absolute,
                opacity: .7
        ),
        putSize:(
                width:100%,
                height:100%
        ),
        putPosition:(
                top:0,
                left:0
        ),
        putImage:(
                imageUrl:"#{$urlRootSlider}/img/spinner/loading.gif",
                imageRepeat: no-repeat,
                imagePosition: center,
                imageSize:content
        ),
        backGroundColor:map-get($backGroundColorDefault, grayLight)
);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  CAPTIONS TRANSITIONS
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Parametros
// ------------------------------------------------------------
// class ->obligatorio
// position ->obligatorio
// left ->obligatorio
// top ->obligatorio
// width ->obligatorio
// height
// lineHeight
// padding
// paddingTop
// paddingRight
// paddingBottom
// paddingLeft
// margin
// marginTop
// marginRight
// marginBottom
// marginLeft
// border
// borderTop
// borderRight
// borderBottom
// borderLeft
// borderRadius
// boxShadow -> Sólo para los que son de tamaño fijo
// boxSizing
// backGroundPosition-> para imagenes puedes dejar la clase nula.
// backGround
// backGroundColor
// fontName
// fontSize
// fontStyle
// content
// color
// textShadow
// textAlign
// clear
// zIndex
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SLIDER 1
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$captionSlider_1_1: (
        class: map-get($captionBlack, class),
        putInit:(
                position:absolute,
        ),
        putSize:(
                width: 1 * (map-get(map-get($sliderBox,putSize),width)), //100%
                height:100px,
        ),
        putPosition:(
                left:0px,
                top: 120px
        ),
        lineHeight:100px,
        content: 'Más de quince años a su servicio',
        borderRadius:map-get($radiusDefault, medium)
);

// ARRAYS CAPTIONS SLIDER 1
$captionSliders_1: (
        caption_1: $captionSlider_1_1
);
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SLIDER 2
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$captionSlider_2_1: (
        class: map-get($captionBlack, class),
        putInit:(
                position:absolute
        ),
        putSize:(
                width: .8 * (map-get(map-get($sliderBox,putSize),width)), //80%
                height:50px,
        ),
        putPosition:(
                left: .1 * (map-get(map-get($sliderBox,putSize),width)), //10%
                top: 55px
        ),
        lineHeight:50px,
        content: 'Personal especializado',
);
$captionSlider_2_2: (
        class: map-get($captionBlack, class),
        putInit:(
                position:absolute
        ),
        putSize:(
                width: 1 * (map-get(map-get($sliderBox,putSize),width)),//100%
                height:50px,
        ),
        putPosition:(
                left:0px,
                top: 110px
        ),
        lineHeight:50px,
        fontSize:1.2 * map-get($fontSizeDefault,extra),
        content: 'Certificación AENOR Norma UNE EN ISO 9001',
);
$captionSlider_2_3: (
        class:'', // not class
        putInit:(
                position:absolute
        ),
        putSize:(
                width:80px,
                height:160px
        ),
        putPosition:(
                left:360px,
                top: 165px
        ),
        putImage:(
                imageUrl:"#{$urlRootSlider}/img/img/aenor_empresa.jpg",
                imageRepeat:no-repeat,
                imageSize: 100% 100%,
        ),
        boxShadow: map-get($boxShadowDefault,bottomRight)
);
// ARRAYS CAPTIONS SLIDER 2
$captionSliders_2: (
        caption_1: $captionSlider_2_1,
        caption_2: $captionSlider_2_2,
        caption_3: $captionSlider_2_3
);
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SLIDER 3
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$captionSlider_3_1: (
        class: map-get($captionBlack, class),
        putInit:(
                position:absolute
        ),
        putSize:(
                width: .8 * (map-get(map-get($sliderBox,putSize),width)),//80%
                height:50px,
        ),
        putPosition:(
                left: .1 * (map-get(map-get($sliderBox,putSize),width)),//10%
                top: 55px
        ),
        lineHeight:50px,
        content: 'Comprometidos con el entorno',
);
$captionSlider_3_2: (
        class: map-get($captionBlack, class),
        putInit:(
                position:absolute
        ),
        putSize:(
                width:100%,
                height:50px
        ),
        putPosition:(
                left:0,
                top: 110px
        ),
        lineHeight:50px,
        fontSize:1.2 * map-get($fontSizeDefault,extra),
        content: 'Certificación AENOR Norma UNE EN ISO 9001',
        boxShadow:map-get($boxShadowDefault,black)
);
$captionSlider_3_3: (
        class:'', // not class
        putInit:(
                position:absolute
        ),
        putSize:(
                width:80px,
                height:160px
        ),
        putPosition:(
                left:312px,
                top: 165px
        ),
        putImage:(
                imageUrl:"#{$urlRootSlider}/img/img/aenor_gestion_ambiental.jpg",
                imageRepeat:no-repeat,
                imageSize: 100% 100%
        ),
        boxShadow: map-get($boxShadowDefault,bottomRight)
);
$captionSlider_3_4: (
        class:'', // not class
        putInit:(
                position:absolute
        ),
        putSize:(
                width:80px,
                height:160px
        ),
        putPosition:(
                left:406px,
                top: 165px
        ),
        putImage:(
                imageUrl:"#{$urlRootSlider}/img/img/aenor_medio_ambiente.jpg",
                imageRepeat:no-repeat,
                imageSize: 100% 100%
        ),
        boxShadow: map-get($boxShadowDefault,bottomRight)
);

// ARRAYS CAPTIONS SLIDER 3
$captionSliders_3: (
        caption_1: $captionSlider_3_1,
        caption_2: $captionSlider_3_2,
        caption_3: $captionSlider_3_3,
        caption_4: $captionSlider_3_4
);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ARRAY SLIDERS
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$captionSliders: (
        slider_1:$captionSliders_1,
        slider_2:$captionSliders_2,
        slider_3:$captionSliders_3
);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// NAVIGATION BULLET
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$navigationBullet: (
        posX: map-get(map-get($sliderBox,putSize),width)-100px,
        posY:10px,
        backGroundColor: map-get($backGroundColorDefault, grayLight),
        padding:map_get($marginDefault,medium),
        radius: map-get($radiusDefault, extra),
        bulletMarginTop:map_get($marginDefault,medium),
        bulletMarginLeft:map_get($marginDefault,medium),
        bulletRadius: map-get($radiusDefault, circle),
        bulletShadow:map-get($boxShadowDefault, bullet),
        bulletWidth:20px,
        bulletHeight:20px,
        bulletOpacity:.7,
        bulletCursor: pointer,
        bulletBorder: map-get($borderWidthDefault, small) solid map-get($colorDefault, white),
        bulletBackGroundColor:map-get($backGroundColorDefault, orange),
        bulletColor:map-get($colorDefault, greenMedium),
        bulletHoverColor:map-get($colorDefault, white),
        bulletActiveColor:map-get($colorDefault, black),
        bulletClickColor:map-get($colorDefault, white),
        bulletTransition:background-color 1s ease-in-out
);
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// ARROW NAVIGATION
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$arrowNavigation: (
        putInit:(
                position:absolute,
                overFlow:hidden
        ),
        putSize:(
                width:80px,
                height:160px
        ),
        putPosition:(
                left:312px,
                top: 165px
        ),
        putImage:(
                imageUrl:"#{$urlRootSlider}/img/arrow/arrow.png",
        ),
        arrowLeft:(
                putInit:(
                ),
                putSize:(
                        width:55px,
                        height:166px
                ),
                putPosition:(
                        left:2px,
                        top: 123px
                ),
                putImage:(
                       imagePosition:0px 0px
                ),
                hover:(
                        imagePosition:-110px 0px
                ),
                click:(
                        imagePosition:-220px 0px
                ),
        ),
        arrowRight:(
                putInit:(
                ),
                putSize:(
                        width:55px,
                        height:166px
                ),
                putPosition:(
                        right:2px,
                        top: 123px
                ),
                putImage:(
                        imagePosition:-55px 0px
                ),
                hover:(
                        imagePosition:-165px 0px
                ),
                click:(
                        imagePosition:-175px 0px
                ),
        ),
        cursor:map-get($cursorDefault, cursor),
        overFlow:hidden,
);
