@charset "UTF-8";
@import 'sliderVariables';


//Caption Style
body,html{
  background:  linear-gradient(135deg, #c9de96 0%,#8ab66b 44%,#398235 100%);
  margin: 0;
  padding:0;
}
.slider_block{
  visibility: hidden;
  background: inherit;
  }
#sliderc_container {
   .captionColor {
     display: block;
     font-size: $caption_font_size;
     line-height: $caption_line_height;
     text-align: center;
     border-radius: $caption_border_radius;
   }
   .captionOrange {
     background: rgba(235, 81, 0, 6/10);
   }
   .captionBlue {
     background: rgba(21, 21, 120, 6/10);
   }
   .captionBlack {
     background: rgba(0, 0, 0, 4/10);
   }
   .captionSymbol {
     border-radius: $caption_symbol_border_radius !important;
     font-weight: $caption_symbol_font_weight !important;
     font-size: $caption_symbol_font_size !important;
     background: $caption_symbol_background;
   }
   .captionText {
     display: block;
     font-size: $caption_font_size;
     line-height: $caption_line_height;
   }
   .captionTextBlack {
     color: $black;
   }
   .captionTextWhite {
     color: $white;
   }
   a {
     .captionOrange {
       color: #fff;
       text-decoration: none;
       &:hover {
         color: #eb5100;
         text-decoration: underline;
         background-color: #eeeeee;
         background-color: rgba(238, 238, 238, 7/10);
       }
       &:active {
         color: #fff;
         text-decoration: none;
       }
       &:visited {
         color: #fff;
         text-decoration: none;
       }
     }
     .captionTextWhite {
       color: #fff;
       text-decoration: none;
       &:active {
         color: #fff;
         text-decoration: none;
       }
       &:visited {
         color: #fff;
         text-decoration: none;
       }
       &:hover {
         color: #eb5100;
         text-decoration: underline;
       }
     }
     .captionTextBlack {
       color: #fff;
       text-decoration: none;
       &:active {
         color: #fff;
         text-decoration: none;
       }
       &:visited {
         color: #fff;
         text-decoration: none;
       }
       &:hover {
         color: #eb5100;
         text-decoration: underline;
       }
     }
   }
   .bricon {
     background: url('../img/browser-icons.png');
   }
   //Bullet
   .jssorb01 {
     position: absolute;
     box-sizing: content-box;
     top: $navigation_posY;
     left: $navigation_posX;
     background: $navigation_background;
     padding: $navigation_padding;
     border-radius: $navigation_border_radius;
     .prototype {
       box-sizing: content-box;
       border-radius: $navigation_bullet_border_radius;
       box-shadow: $navigation_bullet_box_shadow;
       POSITION: absolute;
       WIDTH: $navigation_bullet_size;
       HEIGHT: $navigation_bullet_size;
       margin-top: $navigation_padding - 1px;
       margin-left: $navigation_padding - 1px;
       }
     div {
       filter: alpha(opacity=$navigation_bullet_opacity*100);
       opacity: $navigation_bullet_opacity;
       cursor: pointer;
       border: $navigation_bullet_border;
       background: $navigation_bullet_background;
       overflow: hidden;
       &:hover {
         background-color: $navigation_bullet_color_hover;
       }
     }
     .av {
       background-color: $navigation_bullet_color_actual;
       &:hover {
         background-color: $navigation_bullet_color_active;
       }
     }
     .dn {
       background-color: #fff;
       &:hover {
         background-color: $navigation_bullet_color_click;
       }
     }
   }
 }

.slider_block {
  display: block;
  float: none;
  margin: $margin_auto;
  width: $width_slider_outside_block;
  text-align: center;
  background-image: url($background_image_slider_outside_block);
  border-top: $border_slider_outside_block;
  border-bottom: $border_slider_outside_block;
  font-family: $font_family_slider_default;
  border-radius: $border_radius_slider_outside_block;
  overflow: hidden;
  #sliderc_container {
    position: relative;
    margin: $margin_auto;
    @include put_dimension($default_width_slider_outside, $default_height_slider_outside);
    text-align: left;
    overflow: hidden;
    .slides {
      position: absolute;
      @include put_position(0, 0);
      overflow: hidden;
    }
    .outside {
      cursor: $default_pointer_cursor_outside;
      @include put_dimension($default_width_slider_outside, $default_height_slider_outside);
    }
    #slider1_container {
      @include put_position_dimension(absolute,0px, 90px, $default_width_slider_inside, $default_height_slider_inside);
      border: $border_slider_inside_block;
      border-radius: $border_radius_slider_inside_block;
      margin: $margin_slider_inside_block;
      overflow: hidden;
      .spinner {
        @extend .slides;
        & > div {
          display: block;
          @extend .slides;
          filter: alpha(opacity=$spinner_opacity*100);
          opacity: $spinner_opacity;
          background-color: $spinner_background_color;
          @include put_dimension(100%, 100%);
        }
        & > div + div {
          display: block;
          @extend .slides;
          background: url($spinner_imagen) no-repeat center center;
          @include put_dimension(100%, 100%);
        }
      }
      .inside {
        @extend .slides;
        cursor: $default_pointer_cursor_inside;
        @include put_dimension($default_width_slider_inside, $default_height_slider_inside);
        .caption {
          @include put_position_dimension(absolute,20px, $caption_line_height, 300px, $caption_line_height);
        }
      }
    }
    .slider_header_title_1 {
      @include put_title_header(absolute,$header_title_left,$header_title_top,$header_title_width,$header_title_height,
              $header_title_font_size,$header_title_color,$header_title_text_shadow,center,$header_title_1);
    }
    .slider_team_group_1{
      @include put_position_dimension(absolute,$block_team_1_left,$block_team_1_top,$block_team_1_width,$block_team_1_height);
      $i : 1;
      @each $datos in $block_team_1 {
        & div:nth-of-type(#{$i}) {
          @include put_position_dimension(absolute, map-get($datos, left), map-get($datos, top),
                  map-get($datos, width), map-get($datos, height));
          @if (map-has-key($datos, caracter)) {
            @include put_symbol(map-get($datos, caracter), map-get($datos, color), map-get($datos, text-shadow));
          } @else {
            @include put_text(map-get($datos, text), map-get($datos, color), map-get($datos, text-shadow));
          }
          $i: $i+1;
        }
      }
    }


  }
}
