/////////////////////////////////////////////////////////////////////////////////
// FORM
/////////////////////////////////////////////////////////////////////////////////
@mixin putBlock($float){
  box-sizing: border-box;
  display:block;
  float:$float;
  position:relative;
}
