/////////////////////////////////////////////////////////////////////////////////
// FORM
/////////////////////////////////////////////////////////////////////////////////
@import "mixin";

$urlRootForm: "../forms/contacto";
$formName: 'formularioContacto';

//FORM
$formContacto: (
        putInit:(
                box-sizing: border-box,
                display:block,
                position:relative,
                float:left
        ),
        putSize:(
                width:100%,
                height:100%
        ),
        putPosition:(
                top:0,
                left:0
        ),
        fontFamily:map-get($fontNameDefault,titulo),
        fontSize:map-get($fontSizeDefault,large),
        color:rgba(0, 50, 0, 1),
        textShadow: map-get($textShadowDefault, white_5)
);
$formularioHeader: (
        putInit:(
        ),
        putSize:(
        ),
        putPosition:(
        ),
        fontFamily: map-get($formContacto,fontFamily),
        fontSize:map-get($fontSizeDefault, large),
        color:map-get($colorDefault, greenMedium),
        textShadow: map-get($textShadowDefault, white_5),
        borderBottom: 2px ridge rgba(200, 240, 200, .8),
        paddingLeft: 5px,
        marginTop:5px,
        marginBottom: 10px
);
$formContactoFila: (
        putInit:(
                boxSizing:border-box,
                display:block,
                float:left,
                position:relative
        ),
        putSize:(
                width:100%
        ),
        putPosition:(
        ),
        lineHeight: 30px,
);
$formContactoInputRadio: (
        putInit:(
                display:block,
                float:left,
                position:relative
        ),
        putSize:(
                height:24px,
                width:24px
        ),
        putPosition:(
        ),
        textAlign:center
);
$formContactoBloqueInput: (
        putInit:(
                boxSizing: border-box
        ),
        putSize:(
                maxWidth: 400px
        ),
        putPosition:(
        ),
        font-size: inherit
);
$formContactoLabel: (
        putInit:(
                display:block,
                float:left,
                position:relative
        ),
        putSize:(
                width:80%
        ),
        putPosition:(
        ),
        fontFamily: inherit,
        fontSize:map-get($formContacto, fontSize),
        color:map-get($formContacto, color),
        textShadow:map-get($formContacto, textShadow),
        lineHeight:30px
);
$formContactoSpan: (
        putInit:(
                display:block
        ),
        putSize:(
                width:map-get($formContacto, width),
                height:auto
        ),
        putPosition:(
        ),
        textArea: (
                putInit:(
                        boxSizing: border-box,
                        display:block
                ),
                putSize:(
                        width:100%,
                        height: 6em
                ),
                putPosition:(
                ),
                backGroundColor:map-get($shadowDefaultColor, white),
                padding: map-get($borderWidthDefault, medium),
                fontFamily: inherit,
                fontSize:map-get($formContacto, fontSize),
                color:map-get($formContacto, color),
                textShadow:map-get($formContacto, textShadow),
                box-shadow: none,
                border: 1px solid darkseagreen,
                cursor: pointer,
                transition: box-shadow 1s linear 0s,
                outLine: none,
                clear: both
        ),
        fontFamily: inherit,
        fontSize:map-get($formContacto, fontSize),
        color:map-get($formContacto, color),
        textShadow:map-get($formContacto, textShadow),
        paddingBottom: 5px,
        clear:both
);

$formContactoInputText: (
        putInit:(
                boxSizing: border-box,
                display:block,
                float:left,
                position:relative
        ),
        putSize:(
                width: map-get($formContacto, width)
        ),
        putPosition:(
        ),
        focus:(
                cursor:default,
                boxShadow:0px 0px 5px 5px rgba(darkseagreen, .3),
                outLine: none
             ),
        putImage:(
                imageRepeat: no-repeat,
                imagePosition: 10px center,
                imageSize: 1.5em 1.6em,
        ),
        remitente :(
                putSize:(
                        width:100%
                ),
                putImage:(
                        imageUrl: "#{$urlRootForm}/img/user.png"
                )
        ),
        direccion :(
                putSize:(
                        width:100%
                ),
                putImage:(
                        imageUrl: "#{$urlRootForm}/img/direccion.png"
                )
        ),
        tlf :(
                putSize:(
                        width:100%
                ),
                putImage:(
                        imageUrl: "#{$urlRootForm}/img/tlf.png"
                )
        ),
        fax :(
                putSize:(
                        width:100%
                ),
                putImage:(
                        imageUrl: "#{$urlRootForm}/img/fax.png"
                )
        ),
        email :(
                putSize:(
                        width:100%
                ),
                putImage:(
                        imageUrl: "#{$urlRootForm}/img/mail.png"
                )
        ),
        pass :(
                putInit:(
                        float:none
                ),
                putSize:(
                        width:300px
                ),
                putImage:(
                        imageUrl: "#{$urlRootForm}/img/pass.png"
                ),
                margin: 0 auto
        ),
        padding: map-get($marginDefault, medium) 1em map-get($marginDefault, medium) 2.8em,
        fontFamily: inherit,
        fontSize:map-get($formContacto, fontSize),
        color:map-get($formContacto, color),
        textShadow:map-get($formContacto, textShadow),
        margin: 5px 0,
        lineHeight:1.4,
        borderRadius: 25px,
        border: 1px solid darkseagreen,
        box-shadow: none,
        cursor:pointer,
        transition: all .6s linear
);
$formContactoInputTextObligatorio: (
        putInit:(
        ),
        putSize:(
        ),
        putPosition:(
        ),
        putImage:(
        ),
        backGroundColor:rgba(255,255,230,.8)
);
$formContactoInputTextError: (
        putInit:(
        ),
        putSize:(
        ),
        putPosition:(
        ),
        putImage:(
        ),
        backGroundColor:red
);
$formContactoInputTextCorrecto: (
        putInit:(
        ),
        putSize:(
        ),
        putPosition:(
        ),
        putImage:(
        ),
        backGroundColor:green
);
$formContactoEnviar: (
        putInit:(
                display:block,
                float:right
        ),
        putSize:(
                width:120px
        ),
        putPosition:(
        ),
        putImage:(
        ),
        hover:(
                cursor:pointer,
                gradientVertical:(
                        from:(
                                color:#ffde96,
                                percent:0%
                        ),
                        to:(
                                color:#398235,
                                percent:100%
                        )
                ),
        ),
        gradientVertical:(
                from:(
                        color: #00bf7a,
                        percent:0%
                ),
                to:(
                        color:#007fff,
                        percent:100%
                )
        ),
        clear:both,
        lineHeight:32px,
        textAlign:center,
        border:1px solid rgba(0,200,0,.6),
        borderRadius:10px,
        boxShadow:map-get($boxShadowDefault, bottomRightBlack),
        margin: 25px 0 10px 0

);