/////////////////////////////////////////////////////////////////////////////////
// CAPTCHA
/////////////////////////////////////////////////////////////////////////////////
@import "mixin";

$urlRootCaptcha: "../captcha";

//CAPTCHA
$captcha: (
        putInit:(
                boxSizing: border-box,
                display:block,
                float:none,
                position:relative
        ),
        putSize:(
                width:map-get(map-get(map-get($formContactoInputText, pass),putSize),width),
                height:map-get(map-get(map-get($formContactoInputText, pass),putSize),width) * .33
        ),
        putPosition:(
        ),
        margin:0 auto 10px auto,
        //marginBottom:10px,
        backGroundColor:map-get($backGroundColorDefault, grayLight),
        border: map-get($borderWidthDefault, medium) solid map-get($colorDefault, black),
);
//IMAGE REFRESH
$captchaRefresh: (
        putInit:(
                boxSizing: border-box,
                display:block,
                float:right,
                position:relative
        ),
        putSize:(
                width:20px,
                height:20px
        ),
        putPosition:(
        ),
        putImage:(
                imageUrl: "#{$urlRootCaptcha}/img/refresh.png",
                imageRepeat:no-repeat,
                imageSize: 100% 100%,
                imagePosition: center,
        ),
        hover:(
                cursor:pointer,
                transformScale: 1.1
        ),
        margin: 2 * map-get($marginDefault,small),
        border: 3 * map-get($marginDefault,small) solid rgba(map-get($colorDefault, white), map-get($transparencyLevel, level_3)),
        borderRadius: map-get($radiusDefault, circle),
        transition: transform .5s linear 0s,
);