@import url(foundation.less);

html,body{

	font-size: 10px;
	background-color: #DDD;
}
body{
/*	background-image: url("../img/bg8.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/

}
.name h1{
	background-image: url(../img/logoLarge.jpg);
	background-size: contain;
	background-repeat: no-repeat;

}
.gris, .gris nav, .gris nav section ul,.gris nav section ul li ,.gris nav section ul li a{
	background-color: #CCC !important;

}
.gris nav section ul li,.gris nav section ul li a{
		border: 0 !important;
		border: 1px solid rgba(100,100,100,0.2);
		border-radius: 1px;
}
.name h1 a{
		color: rgba(0, 0, 0,0)!important;
}
.trampa{
	height: 50px;
}

.logo img{
	width: 120px;
}

.titulo:extend(.small-1,.columns,.push-5){}
.serv{

}
.long{

width: 120px !important;
}
.lemaSmall{}
hr{
border-style: solid;
border-color: none;
background: #EEE;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
border-width: 10px;
clear: both;
margin: 1.25rem 0px 1.1875rem;
height: 2px;

}

.lema:extend(.panel){
	text-align: center;
}
.lema p{
	margin-top: 1rem;
	font-size: 2rem;

}
img+p{
	margin-top: 5%;
}
hr+h4{
	margin-left: 1%;
}

ul{
list-style-type: none;
}
/*
ul li img{margin-top: 2%;}*/
.servicios+ul li a img{

	width: 100px !important;
	height: 100px!important;
}

.top-bar-section li a:hover{
    background: #0F0 !important;
}

.active a{
background-color: #0C0 !important;
font-weight: bold;
}
.right ul{
	border: 3px solid;
}
.paralax>div{
	top: -500 !important;
}
.bgstellar{
	background-image: url('../img/alta/imagen (86).jpg')!important;
}
.bgstellar2{
	background-image: url('../img/alta/imagen (90).jpg')!important;
}