/*

++ MIXIN: Zurb Foundation 5 Responsive CSS Property ++

Define any CSS property and their values for phone, tablet and desktop.

i.e.:

@include rprop(margin-top,10px,20px,30px);


Will render:

Mobile  => margin-top: 10px
Tablet  => margin-top: 20px
Desktop => margin-top: 30px

Note: The property (obviously) and the three values are required.

*/
/* FROM FOUNDATION 5 _settings.scss:
// $small-range: (0em, 40em); /* 0, 640px */
/* line 348, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.5.0/";
}

/* line 352, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0;
}

/* line 357, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0;
}

/* line 362, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 367, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/";
  width: 40.063em;
}

/* line 372, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 377, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.063em) and (max-width:90em)/";
  width: 64.063em;
}

/* line 382, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 387, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.063em) and (max-width:120em)/";
  width: 90.063em;
}

/* line 392, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 397, ../bower_components/foundation/scss/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 404, ../bower_components/foundation/scss/foundation/components/_global.scss */
html, body {
  height: 100%;
}

/* line 407, ../bower_components/foundation/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 413, ../bower_components/foundation/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 417, ../bower_components/foundation/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
}

/* line 430, ../bower_components/foundation/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 433, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 435, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 439, ../bower_components/foundation/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 446, ../bower_components/foundation/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 447, ../bower_components/foundation/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 172, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 173, ../bower_components/foundation/scss/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 451, ../bower_components/foundation/scss/foundation/components/_global.scss */
.hide {
  display: none !important;
  visibility: hidden;
}

/* line 457, ../bower_components/foundation/scss/foundation/components/_global.scss */
.invisible {
  visibility: hidden;
}

/* line 463, ../bower_components/foundation/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 466, ../bower_components/foundation/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 476, ../bower_components/foundation/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 479, ../bower_components/foundation/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 232, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
}
/* line 172, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 173, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row:after {
  clear: both;
}
/* line 236, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.row.collapse > .column,
.row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
}
/* line 239, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}
/* line 242, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.row .row {
  width: auto;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}
/* line 172, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}
/* line 173, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row .row:after {
  clear: both;
}
/* line 243, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
}
/* line 172, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}
/* line 173, ../bower_components/foundation/scss/foundation/components/_global.scss */
.row .row.collapse:after {
  clear: both;
}

/* line 247, ../bower_components/foundation/scss/foundation/components/_grid.scss */
.column,
.columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}

/* line 250, ../bower_components/foundation/scss/foundation/components/_grid.scss */
[class*="column"] + [class*="column"]:last-child {
  float: right;
}

/* line 251, ../bower_components/foundation/scss/foundation/components/_grid.scss */
[class*="column"] + [class*="column"].end {
  float: left;
}

@media only screen {
  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 167, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-1 {
    width: 8.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-2 {
    width: 16.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-3 {
    width: 25%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-4 {
    width: 33.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-5 {
    width: 41.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-6 {
    width: 50%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-7 {
    width: 58.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-8 {
    width: 66.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-9 {
    width: 75%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-10 {
    width: 83.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-11 {
    width: 91.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-12 {
    width: 100%;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-0 {
    margin-left: 0% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-1 {
    margin-left: 8.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-2 {
    margin-left: 16.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-3 {
    margin-left: 25% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-4 {
    margin-left: 33.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-5 {
    margin-left: 41.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-6 {
    margin-left: 50% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-7 {
    margin-left: 58.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-8 {
    margin-left: 66.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-9 {
    margin-left: 75% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-10 {
    margin-left: 83.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-offset-11 {
    margin-left: 91.66667% !important;
  }

  /* line 179, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  /* line 187, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /* line 190, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.small-uncentered,
  .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  /* line 198, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.small-centered:last-child,
  .columns.small-centered:last-child {
    float: none;
  }

  /* line 204, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.small-uncentered:last-child,
  .columns.small-uncentered:last-child {
    float: left;
  }

  /* line 209, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right;
  }

  /* line 216, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.small-collapse > .column,
  .row.small-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 219, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.small-collapse .row {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 222, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.small-uncollapse > .column,
  .row.small-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 167, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-1 {
    width: 8.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-2 {
    width: 16.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-3 {
    width: 25%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-4 {
    width: 33.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-5 {
    width: 41.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-6 {
    width: 50%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-7 {
    width: 58.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-8 {
    width: 66.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-9 {
    width: 75%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-10 {
    width: 83.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-11 {
    width: 91.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-12 {
    width: 100%;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-0 {
    margin-left: 0% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-1 {
    margin-left: 8.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-2 {
    margin-left: 16.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-3 {
    margin-left: 25% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-4 {
    margin-left: 33.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-5 {
    margin-left: 41.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-6 {
    margin-left: 50% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-7 {
    margin-left: 58.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-8 {
    margin-left: 66.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-9 {
    margin-left: 75% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-10 {
    margin-left: 83.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-offset-11 {
    margin-left: 91.66667% !important;
  }

  /* line 179, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  /* line 187, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /* line 190, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  /* line 198, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.medium-centered:last-child,
  .columns.medium-centered:last-child {
    float: none;
  }

  /* line 204, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.medium-uncentered:last-child,
  .columns.medium-uncentered:last-child {
    float: left;
  }

  /* line 209, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right;
  }

  /* line 216, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.medium-collapse > .column,
  .row.medium-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 219, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.medium-collapse .row {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 222, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.medium-uncollapse > .column,
  .row.medium-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 261, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 264, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 159, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 162, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 167, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-1 {
    width: 8.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-2 {
    width: 16.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-3 {
    width: 25%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-4 {
    width: 33.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-5 {
    width: 41.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-6 {
    width: 50%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-7 {
    width: 58.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-8 {
    width: 66.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-9 {
    width: 75%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-10 {
    width: 83.33333%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-11 {
    width: 91.66667%;
  }

  /* line 172, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-12 {
    width: 100%;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-0 {
    margin-left: 0% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-1 {
    margin-left: 8.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-2 {
    margin-left: 16.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-3 {
    margin-left: 25% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-4 {
    margin-left: 33.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-5 {
    margin-left: 41.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-6 {
    margin-left: 50% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-7 {
    margin-left: 58.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-8 {
    margin-left: 66.66667% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-9 {
    margin-left: 75% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-10 {
    margin-left: 83.33333% !important;
  }

  /* line 176, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-offset-11 {
    margin-left: 91.66667% !important;
  }

  /* line 179, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  /* line 187, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  /* line 190, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  /* line 198, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.large-centered:last-child,
  .columns.large-centered:last-child {
    float: none;
  }

  /* line 204, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.large-uncentered:last-child,
  .columns.large-uncentered:last-child {
    float: left;
  }

  /* line 209, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right;
  }

  /* line 216, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.large-collapse > .column,
  .row.large-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 219, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.large-collapse .row {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 222, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .row.large-uncollapse > .column,
  .row.large-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-0 {
    position: relative;
    right: 0%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 272, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 275, ../bower_components/foundation/scss/foundation/components/_grid.scss */
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
}
/*
	I've been using 'rprop' for a while and it cover most cases that I needed but I created another mixin called 'rpropX' for an extended control and play with longest screen size ranges.
*/
/*
"Who is who" in 'rpropX':

		- $prop = The CSS property [REQUIRED, obviously]
		- $small-value = Value from 0px.
		- $medium-value = Value for at least 641px (40.063em).
		- $large-value  = Value for at least 1025px (64.063em).
		- $xlarge-value = Value for at least 1441px (90.063em) .
		- $xxlarge-value = Value for at least 1921px (120.063em).

	Example:

	p.test{
		@include rpropX(font-size,10px,20px,30px,40px,50px)
	}

	This will produce a large set of CSS Media-Queries that, in short will render:

		- font-size: 10px for small
		- font-size: 20px for medium
		- font-size: 30px for large
		- font-size: 40px for xlarge
		- font-size: 50px for xxlarge

	-  If you don't want to set a value for a specific media-query screen range you can set it to "null", "_" or "n" (it must have a value, don't leave it empty). In that case, that screen range will inherit the property of its closest smaller range.

	Example:

	p.test{
		@include rpropX(font-size,10px,_,30px,_,_) // you can use "null" or "n" (without quotation) too.
	}

	This time, the mixin will produce this lean CSS:

	p.test{font-size:10px} // for every screen size range

	@media only screen and (min-width: 64.063em){ // overrides for large scren size range and up
		p.test{
			font-size:30px
		}
	}

*/
/*
	Do you want to define a property for a specific screen size only? No problem

	Example:

	#example-block{
		font-size: 22px; // 22px for every screen-size
		@mixin smallprop(font-size,16px); // 16px for medium-range screens
	}

	Note: Maybe obvious but remember to place the mixin AFTER the "all-screen-sizes-value" (font-size: 22px) in order to override it.

*/
/* line 32, ../scss/styles.scss */
.vdown {
  position: relative;
  top: 80%;
  -webkit-transform: translateY(-90%);
  -ms-transform: translatey(-90%);
  transform: translateY(-90%);
}

/* line 35, ../scss/styles.scss */
.vcenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 38, ../scss/styles.scss */
.hcenter {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 44, ../scss/styles.scss */
#uno {
  background: url(../slider/img/slider/02.jpg) no-repeat center center;
}

/* line 45, ../scss/styles.scss */
#dos {
  background: url(../slider/img/slider/03.jpg) no-repeat center center;
}

/* line 46, ../scss/styles.scss */
#tres {
  background: url(../slider/img/slider/01.jpg) no-repeat center center;
}

/* line 48, ../scss/styles.scss */
.slide {
  background-size: cover !important;
  display: block;
  width: 100%;
}

/* line 53, ../scss/styles.scss */
#slideOrbit {
  display: block;
  width: 100%;
}

/* line 57, ../scss/styles.scss */
.textoSlide {
  color: #FFF;
}
/* line 59, ../scss/styles.scss */
.textoSlide h2 {
  color: #FFF;
}

/* line 63, ../scss/styles.scss */
h2 {
  color: #364330;
  font-weight: 200;
}

/* line 172, ../bower_components/foundation/scss/foundation/components/_global.scss */
#slideOrbit:before, #slideOrbit:after {
  content: " ";
  display: table;
}
/* line 173, ../bower_components/foundation/scss/foundation/components/_global.scss */
#slideOrbit:after {
  clear: both;
}
/* line 71, ../scss/styles.scss */
#slideOrbit li {
  text-align: center;
}

/* line 73, ../scss/styles.scss */
.textoSlide {
  margin: 0 auto;
  width: 80%;
  padding: 1rem;
  background: rgba(54, 67, 48, 0.35);
  color: #fff;
}
@media only screen and (min-width: 40.063em) {
  /* line 73, ../scss/styles.scss */
  .textoSlide {
    width: 60%;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 73, ../scss/styles.scss */
  .textoSlide {
    width: 60%;
  }
}
/* line 79, ../scss/styles.scss */
.textoSlide h2 {
  color: #fff;
}

/* line 82, ../scss/styles.scss */
#quienes {
  z-index: 99;
  position: relative;
  margin-top: -100px;
}
/* line 172, ../bower_components/foundation/scss/foundation/components/_global.scss */
#quienes:before, #quienes:after {
  content: " ";
  display: table;
}
/* line 173, ../bower_components/foundation/scss/foundation/components/_global.scss */
#quienes:after {
  clear: both;
}

/* line 88, ../scss/styles.scss */
#quienes-texto {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: rgba(101, 127, 90, 0.85);
  color: #fff;
}
/* line 94, ../scss/styles.scss */
#quienes-texto h2 {
  color: #fff;
}

/* line 100, ../scss/styles.scss */
#servicios .panel {
  text-align: center;
  background: #76cc52;
  color: #fff;
}
/* line 105, ../scss/styles.scss */
#servicios h3 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

/* line 112, ../scss/styles.scss */
.panel-servicios .icon {
  margin-bottom: 20px;
}
/* line 115, ../scss/styles.scss */
.panel-servicios .icon:before {
  color: #fff;
  font-size: 92px;
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* line 123, ../scss/styles.scss */
.img-quienes {
  padding: 0;
  margin: 0;
  background: url(../img/pala.jpg) no-repeat center center;
  background-size: cover !important;
}
/* line 128, ../scss/styles.scss */
.img-quienes a {
  margin-top: 50%;
  margin-left: 45%;
}

/* line 133, ../scss/styles.scss */
.cespito {
  background: url(../img/bg2dif.png) no-repeat center center;
  background-size: cover !important;
}

/* line 139, ../scss/styles.scss */
#redes .icon:before {
  font-size: 92px;
  margin: 0;
  padding: 0;
  line-height: 1;
}
